@font-face {
  font-family: 'UbuntuRegular';
  src: url('assets/fonts/Ubuntu-Regular.ttf');
}

#header {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 70px;
}

#jimCrowHeader {
  position: absolute;
  left: 20px;
}

#buttonsDiv {
  position: absolute;
  left: 200px;
  top: 15px;
}

.headerButtons {
  height: 40px;
  width: 80px;
}

.contentPage {
  position: absolute;
  left: 0%;
  top: 70px;
  width: 100%;
  font-family: 'UbuntuRegular';
}

#mainContent {
  background-color: #0ff;
}

#sourcesContent {
  background-color: #f0f;
}

#creditsContent {
  background-color: #ff0;
}